 ol a {
    font-size: 20px;
    color: blue;
 }
 .h1 {
     margin: 50px;
     color: white;
    background-color: rgb(49, 13, 148) ;
    border: solid rgb(49, 13, 148);
    padding: 10px;
    
     
 }                       .container {display: flex; align-items: center; justify-content: center;}
                          .image {flex-basis: 40%; border: rgb(53, 11, 151) solid 4px;}
                          .text {font-size: 15px; border: brown solid 4px;}
 
         
 #h1{
    text-align: center; color: brown;
 }
 